/* You can add global styles to this file, and also import other style files */
body {
	margin-top: 1%;	
}

.control {
    background-color: lightblue;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
}