button {
    background-color: #FFFFFF;    
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

textarea {
    width: 100%;
    height: 150px;
}

.note {
    width: 100px;
    height: 50px;
    background-color: lightgreen;
    padding: 15px 0px 0px 15px;
}

.coin {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: gold;
    padding: 15px 0px 0px 15px;
}