<div class="container control">
  <div *ngFor ="let product of products" class="row">
    <div class="six columns">{{product.name}}</div>
    <div class="three columns">${{product.price * 2}} ${{product.price}} ${{product.price / 2}}</div>
    <div class="one column">
      <button (click)="PostBrewRequest(product, 'large')" class="w3-button w3-circle w3-white">L</button>
    </div>
    <div class="one column">
      <button (click)="PostBrewRequest(product, 'medium')" class="w3-button w3-circle w3-white">M</button>
    </div>
    <div class="one columns">
      <button (click)="PostBrewRequest(product, 'small')" class="w3-button w3-circle w3-white">S</button>
    </div>
  </div>
  <h5>Notes</h5>
  <div class="row">    
    <div class="six columns"><button (click)="AddCash(4)" class="w3-button w3-circle w3-teal">^</button></div>    
    <div class="six columns"><button (click)="AddCash(5)" class="w3-button w3-circle w3-teal">^</button></div>
  </div>
  <div class="row">    
    <div class="six columns">50x{{cashInserted[4].count}}</div>
    <div class="six columns">100x{{cashInserted[5].count}}</div>
  </div>

  <h5>Coins</h5>
  <div class="row">    
    <div class="three columns"><button (click)="AddCash(0)" class="w3-button w3-circle w3-teal">^</button></div>
    <div class="three columns"><button (click)="AddCash(1)" class="w3-button w3-circle w3-teal">^</button></div>
    <div class="three columns"><button (click)="AddCash(2)" class="w3-button w3-circle w3-teal">^</button></div>
    <div class="three columns"><button (click)="AddCash(3)" class="w3-button w3-circle w3-teal">^</button></div>
  </div>
  <div class="row">
    <div class="three columns">1x{{cashInserted[0].count}}</div>
    <div class="three columns">2x{{cashInserted[1].count}}</div>
    <div class="three columns">5x{{cashInserted[2].count}}</div>
    <div class="three columns">10x{{cashInserted[3].count}}</div>
  </div>  
  <div *ngIf="response">
    <h5>Change</h5>
    <div *ngFor ="let m of response.change" class="row">
        <div class="two columns {{m.type}}">{{m.denomination}}x{{m.count}}</div>
    </div>
  </div>
  <div class="row">
    <h5>Response:</h5>
    <div class="twelve columns">
      <textarea name="response" id="response" cols="30" rows="20">{{strResponse}}</textarea>
    </div>
  </div>
</div>